<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Rendez-vous statut changé</h1>
    <p>
        Bonjour <b>{{name}}</b>,  <br>
        Votre rendez-vous a été accepter pour le date <b>{{date}}</b>.<br>
        Vous pouvez désormais vous connecter à votre compte.<br>
    </p>
</body>
</html>