<section class="cart_section">
  <div class="container">
    <h2>Cart</h2>
    <h3>Devis : <b>{{data.devis}}</b> </h3>
    <div>
      <table class="table table-hover">
        <thead>
          <tr class="table-primary">
            <th scope="col">#</th>
            <th scope="col">Image</th>
            <th scope="col">Prix</th>
            <th scope="col">Quantite</th>
            <th scope="col">Totale</th>
          </tr>
        </thead>
        <tbody *ngFor="let item of data.items ; let index = index ">
          <tr>
            <th scope="row">{{index+1}}</th>
            <td><img style="width: auto;height: 200px;"
                src="http://localhost:3000/assets/produits/{{item.image}}" alt="P1"></td>
            <td> {{item.price / item.quantity | number}} DT </td>
            <!-- <td> <button type="button" class="btn" (click)="increaseQuantity(getCartDetail._id)"><i
                  class="fa fa-plus"></i></button> -->
              <span>{{item.quantity}}</span>

            <td> {{item.price}} DT</td>
          </tr>

        </tbody>

      </table>
      <div class="col-md-6 text-right">
        <button mat-raised-button  color='primary' (click)="onSubmit()">Valider</button>
      </div>
    </div>
  </div>
</section>
