<section id="team_area" class="section_padding section_gray">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xs-12 text-center wow
fadeIn" data-wow-delay=".1s">
                <div class="section_title">
                    <br><br><br>
                    <h2>Nos <span>Sécurité</span></h2>
                    <div class="sec_divider"></div>
                    <p>Découvrez l’ensemble de nos produits secusisés
d’identification  <br>automatisés et traçabilité RFID.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="our-team">
                    <a routerLink="/nav/securite/cadnat" >  <img src="../../assets/img/team/5.jpg" alt=""></a>
                    <div class="team-content">
                        <h3 class="title">  Cadenas intelligent</h3>

                        <ul class="social-links">
                            <a routerLink="/nav/detail"></a>


                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="our-team">
                    <a routerLink="/nav/securite/detecteur" >  <img src="../../assets/img/team/10.jpg" alt=""></a>
                    <div class="team-content">
                        <h3 class="title">Détecteur et métal et x-ray</h3>

                        <ul class="social-links">


                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="our-team">
                    <a routerLink="/nav/securite/surveillance" >  <img src="../../assets/img/team/7.jpg" alt=""></a>
                    <div class="team-content">
                        <h3 class="title">Video surveillance</h3>


                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="our-team">
                    <a routerLink="/nav/securite/bloqueur"><img src="../../assets/img/team/8.jpg" alt=""></a>
                    <div class="team-content">
                        <h3 class="title">Bloqueur et route et tueur de pneu</h3>

                        <ul class="social-links">

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

