<!-- Start pricing Area -->

<br><br><br><br><br><br><br><br><br>
<section id="pricing_area" class="section_padding section_gray">
    <div class="container">
    <div class="row">
    <div class="col-sm-12 col-xs-12 text-center wow fadeIn" data-wow-delay=".1s">
    <div class="section_title">
    <h2>Cadnat Intellegence</h2>
    <div class="sec_divider"></div>
    <p>It is a long established fact that a reader will be distracted by the readable <br>content of a page when looking at its layout</p>
    </div>
    </div>
    </div>
    
    <div class="row">
    <div class="col-md-3 col-sm-6">
    <div class="pricingTable">
    <div class="pricingTable-header">
    <span ><img src="assets/img/1.jpg"><span class="mo"></span></span>
    <div class="heading">
    <h3>Standard</h3>
    </div>
    </div>
    <div class="pricingContent">
    <ul>
    <li><b>Prix</b> 50</li>
    
    </ul>
    </div><!-- /  CONTENT BOX-->
    <div class="pricingTable-sign-up">
    <a href="#" class="btn main_bg_btn">Ajouter Au Panier</a>
    </div><!-- BUTTON BOX-->
    </div>
    </div>
    <div class="col-md-3 col-sm-6">
    <div class="pricingTable">
    <div class="pricingTable-header">
        <span ><img src="assets/img/2.jpg"><span class="mo"></span></span>
    <div class="heading">
    <h3>Business</h3>
    </div>
    </div>
    <div class="pricingContent">
    <ul>
    <li><b>Prix</b> 30</li>
    
    </ul>
    </div><!-- /  CONTENT BOX-->
    <div class="pricingTable-sign-up">
    <a href="#" class="btn main_bg_btn">Ajouter Au Panier</a>
    </div><!-- BUTTON BOX-->
    </div>
    </div>
    <div class="col-md-3 col-sm-6">
    <div class="pricingTable">
    <div class="pricingTable-header">
        <span ><img src="assets/img/3.jpg"><span class="mo"></span></span>
    <div class="heading">
    <h3>Premium</h3>
    </div>
    </div>
    <div class="pricingContent">
    <ul>
    <li><b>Prix</b> 100</li>
   
    </ul>
    </div><!-- /  CONTENT BOX-->
    <div class="pricingTable-sign-up">
    <a href="#" class="btn main_bg_btn">Ajouter Au Panier</a>
    </div><!-- BUTTON BOX-->
    </div>
    </div>
    <div class="col-md-3 col-sm-6">
    <div class="pricingTable">
    <div class="pricingTable-header">
        <span ><img src="assets/img/4.jpg"><span class="mo"></span></span>
    <div class="heading">
    <h3>Extra</h3>
    </div>
    </div>
    <div class="pricingContent">
    <ul>
    <li><b>Prix</b> 200</li>
    
    </ul>
    </div><!-- /  CONTENT BOX-->
    <div class="pricingTable-sign-up">
    <a href="#" class="btn main_bg_btn">Ajouter Au Panier</a>
    </div><!-- BUTTON BOX-->
    
    </div>
    </div>
    </div>
    </div>
    </section>
    <!-- End pricing Area -->




    <!-- Start pricing Area -->



    <div class="container">
    
    <div class="col-sm-12 col-xs-12 text-center wow fadeIn" data-wow-delay=".1s">
 
   
    
 
    
    
    </div>
    
    <div class="row">
    <div class="col-md-3 col-sm-6">
    <div class="pricingTable">
    <div class="pricingTable-header">
    <span ><img src="assets/img/5.jpg"><span class="mo"></span></span>
    <div class="heading">
    <h3>Standard</h3>
    </div>
    </div>
    <div class="pricingContent">
    <ul>
    <li><b>Prix</b> 50</li>
    
    </ul>
    </div><!-- /  CONTENT BOX-->
    <div class="pricingTable-sign-up">
    <a href="#" class="btn main_bg_btn">Ajouter Au Panier</a>
    </div><!-- BUTTON BOX-->
    </div>
    </div>
    <div class="col-md-3 col-sm-6">
    <div class="pricingTable">
    <div class="pricingTable-header">
        <span ><img src="assets/img/1.jpg"><span class="mo"></span></span>
    <div class="heading">
    <h3>Business</h3>
    </div>
    </div>
    <div class="pricingContent">
    <ul>
    <li><b>Prix</b> 30</li>
    
    </ul>
    </div><!-- /  CONTENT BOX-->
    <div class="pricingTable-sign-up">
    <a href="#" class="btn main_bg_btn">Ajouter Au Panier</a>
    </div><!-- BUTTON BOX-->
    </div>
    </div>
    <div class="col-md-3 col-sm-6">
    <div class="pricingTable">
    <div class="pricingTable-header">
        <span ><img src="assets/img/7.jpg"><span class="mo"></span></span>
    <div class="heading">
    <h3>Premium</h3>
    </div>
    </div>
    <div class="pricingContent">
    <ul>
    <li><b>Prix</b> 100</li>
   
    </ul>
    </div><!-- /  CONTENT BOX-->
    <div class="pricingTable-sign-up">
    <a href="#" class="btn main_bg_btn">Ajouter Au Panier</a>
    </div><!-- BUTTON BOX-->
    </div>
    </div>
    <div class="col-md-3 col-sm-6">
    <div class="pricingTable">
    <div class="pricingTable-header">
        <span ><img src="assets/img/8.jpg"><span class="mo"></span></span>
    <div class="heading">
    <h3>Extra</h3>
    </div>
    </div>
    <div class="pricingContent">
    <ul>
    <li><b>Prix</b> 200</li>
    
    </ul>
    </div><!-- /  CONTENT BOX-->
    <div class="pricingTable-sign-up">
    <a href="#" class="btn main_bg_btn">Ajouter Au Panier</a>
    </div><!-- BUTTON BOX-->
    
    </div>
    </div>
    </div>
    </div>
   
    <!-- End pricing Area -->
    
    