
  <div class="container">
    <div class="card">
      <div class="inner-box" id="card">
        <div class="card-front">
          <h2>Login</h2>
          <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
            <input type="email" formControlName="email" name="email" class="input-box" placeholder="your email id" required
            [class.is-invalid]="loginForm.dirty && loginForm.controls.email.invalid"
            [class.is-valid]="loginForm.dirty && loginForm.controls.email.valid">
            <input type="password" formControlName="password" name="password" class="input-box" placeholder="your password id" required
            [class.is-invalid]="loginForm.dirty && loginForm.controls.password.invalid"
            [class.is-valid]="loginForm.dirty && loginForm.controls.password.valid">
            <button type="submit" class="submit-btn" name="submit">Submit</button>
            <input type="checkbox"><span>Remember me</span>
          </form>
          <a routerLink="../register">
          <button type="button" class="btn" >I dont have an account</button></a>
          <a href="">Forget password</a>
        </div>


      </div>
    </div>
  </div>

