<!-- Start securite Area -->

<html>

<head>


</head>
<body>
<section id="team_area" class="section_padding section_gray">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xs-12 text-center wow
fadeIn" data-wow-delay=".1s">
                <div class="section_title">
                    <br><br><br>
                    <h2>Nos <span>Produits</span></h2>
                    <div class="sec_divider"></div>
                    <p>Découvrez les produits d’identification automatisés et traçabilité RFID,<br>basse, haute et ultra haute fréquence.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="our-team">
                    <a routerLink="/nav/produit/controle">  <img src="../../assets/img/portfolio/produit1.jpg" alt=""></a>
                    <div class="team-content">
                        <h3 class="title">  CONTROLE D'ACCES</h3>

                        <ul class="social-links">
                            <a routerLink="/detail"></a>


                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="our-team">
                    <a routerLink="/nav/produit/tag"><img src="../../assets/img/portfolio/produit22.jpg" alt=""></a>
                    <div class="team-content">
                        <h3 class="title">TAG DURFID</h3>

                        <ul class="social-links">


                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="our-team">
                    <a routerLink="/nav/produit/carte"> <img src="../../assets/img/portfolio/produit33.jpg" alt=""></a>
                    <div class="team-content">
                        <h3 class="title">CARTE ET PORTES CLES </h3>

                        <ul class="social-links">

                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="our-team">
                    <a routerLink="/nav/produit/etiquette"><img src="../../assets/img/portfolio/produit44.jpg" alt=""></a>
                    <div class="team-content">
                        <h3 class="title">ETIQUETTE RFID </h3>

                        <ul class="social-links">

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <br> <br> <br>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="our-team">
                    <a routerLink="/nav/produit/bracelet"> <img src="../../assets/img/portfolio/produit55.jpg" alt=""></a>
                    <div class="team-content">
                        <h3 class="title">  BRACELET RFID</h3>

                        <ul class="social-links">
                            <a routerLink="/detail"></a>


                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="our-team">
                    <a routerLink="/nav/produit/lecteur">  <img src="../../assets/img/portfolio/produit6.jpg" alt=""></a>
                    <div class="team-content">
                        <h3 class="title">PDA ET AUTRES LECTEURS MOBILES</h3>

                        <ul class="social-links">


                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="our-team">
                    <a routerLink="/nav/produit/antenne"> <img src="../../assets/img/portfolio/produit77.jpg" alt=""></a>
                    <div class="team-content">
                        <h3 class="title">LECTEURS FIXE ET ANTENNE RFID</h3>

                        <ul class="social-links">

                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="our-team">
                    <a routerLink="/nav/produit/nfc"><img src="../../assets/img/portfolio/produit88.jpg" alt=""></a>
                    <div class="team-content">
                        <h3 class="title">NFC </h3>

                        <ul class="social-links">

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
</body>
</html>
<!-- End securite Area -->
